body {
	margin: 0;
	height: 100%;
	width: 100%;
}

nav{
	background-color: whitesmoke;
	position: fixed;
	width: 100%;
}



h1, ul {
	display: inline-block;
}

h1 {
	font-size: 1.5em;
	padding-left: 10px;
}

.nav{
	position: absolute;
	right: 10px;
}

li {
	display: inline-block;
}

main {
	padding-top: 100px;
}